{% include base_path %}

{% if page.previous or page.next %}
  <nav class="pagination">
    {% if page.previous %}
      <a href="{{ base_path }}{{ page.previous.url }}" class="pagination--pager" style="text-align: right;" title="{{ page.previous.title | markdownify | strip_html }}">
        <span class="back-btn">&larr;</span>
        <span>
          {{ page.previous.title }}
        </span>
      </a>
    {% endif %}
    {% if page.next %}
      <a href="{{ base_path }}{{ page.next.url }}" class="pagination--pager pagination--next" title="{{ page.next.title | markdownify | strip_html }}">
        <span>
          {{ page.next.title }}
        </span>
        <span class="fwd-btn">&rarr;</span>
      </a>
    {% endif %}
  </nav>
{% endif %}
