/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: relative;
  background-color: #000;
  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  z-index: 20;

  &__inner-wrap {
    @include container;
    @include clearfix;
    padding: 1em 1em 1em;
    font-family: $sans-serif-narrow;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
  
  .sub-title {
    color: rgba(255, 255, 255, 0.7) !important;
    font-weight: normal;
    margin-left: 2rem;
    vertical-align: text-bottom;
    
    @include breakpoint($small) {
      margin-left: 0;
      display: block;
    }
  }
  
  .site-title a {
    font-weight: normal;
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    letter-spacing: -1px;
  }
}

.masthead__menu {
  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;

  &--lg {
    padding-right: 2em;
    font-weight: 700;
  }
}
